


    .main-box{
        width: 100%;
        padding: 12px;
        margin-top: 215px;
        display: flex;

        .box:first-child{
            width: 70%;
        }
    
        .box{
            width: 30%;
            position: relative;


            #piechart{
                float: right;
                width: 79%;
                height: 600px!important;
                margin-top: 230px;

                
            }

            #columnchart_material{
                width: 400px;
                height: 400px;
                position: absolute;
                bottom: 112px;
            }
        }
    }
