
main{

    .loginMainDiv{
        max-width: 100%;
        background: linear-gradient(252.53deg, rgb(207, 76, 0) 6.43%, rgb(253, 159, 29) 55.86%);
        padding: 12px;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;


        .loginContainer{
            width: 397px;
            height: 535.03px;
            background: linear-gradient(204.72deg, rgba(207, 76, 0, 0.17) 6.96%, rgba(253, 159, 29, 0.17) 93.98%);
            display: flex;
            align-items: center;
            flex-direction: column;
            border-radius: 12.8065px;


            .logoContainer{
                max-width: 100%;
                padding: 12px;
                margin-top: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                

                .logBox{
                    width: 76.84px;
                    height: 76.84px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    background-color: #ffffff;

                    img{
                        width: 70%;
                        height: auto;
                    }
                }

                p{
                    font-weight: 700;
                    font-family: 'Inter';
                    font-size: 15.7946px;
                    color: #ffffff;
                    letter-spacing: 0.26em;
                }
            }

            
            form{

                .loginInput{
                    width: 239px;
                    height: 32px;
                    padding: 0 9px;
                    display: flex;
                    align-items: center;
                    margin-top: 23px;
                    border-radius: 16px;
                    // border: 1px solid gray;
                    background-color: #ffffff;

                   

                    &:nth-child(2){
                        margin-top: 18px;
                    }
    
                    .logImg{
                        width: 25px;
                        display: flex;
                        align-items: center;
                        // border: 1px solid black;
    
                        img{
                            width: 20px;
                            height: 20px;
                        }
                    }
                    input[type=text]{
                        height: 32px;
                        border: none;
                        outline: none;
                        color: #A7A7A7;
                        background-color: rgba(255, 255, 255, 0);
                        font-family: 'Inter';
                        

                    }
                    input[type=password]{
                        height: 32px;
                        border: none;
                        outline: none;
                        color: #A7A7A7;
                        background-color: rgba(255, 255, 255, 0);
                        font-family: 'Inter';
                        

                    }
                    
                }
                input[type=submit]{
                    width: 100%;
                    height: 35px;
                    margin-top: 23px;
                    border: none;
                    outline: none;
                    border-radius: 16px;
                    background-color: #292929;
                    color: #ffffff;
                    font-family: 'Inter';
                    transition: all ease-in-out 0.2s;

                    &:hover{
                        cursor: pointer;
                        background-color: #3a3a3a;
                        transition: all ease-in-out 0.1s;
                    }
                }
            }
        }
    }
}